{% extends "base/body_base.html" %}
{% block page_content %}

    <div class="bg-bl">
        <div class="availablepools-wrap">
            <div class="container">
                <div class="availablepools-main marketpools-main">
                    <div class="d-flex mb-4 justify-content-between w-100 flex-wrap">
                        <div class="mb-3 mb-lg-0">
                            <h3 class="h3">Contact Us</h3>
                        </div>
                        <div class="row">
                            <div class="col-6" style="text-align: justify">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nunc eget lorem dolor sed viverra ipsum nunc
                                aliquet. Nulla porttitor massa id neque aliquam vestibulum morbi. Tortor aliquam nulla facilisi cras fermentum. Nunc mattis enim ut tellus elementum sagittis vitae.
                                Pharetra convallis posuere morbi leo urna molestie. Mauris a diam maecenas sed enim. Amet consectetur adipiscing elit pellentesque habitant. Nibh praesent tristique
                                magna sit amet purus gravida quis blandit. Viverra orci sagittis eu volutpat odio facilisis mauris sit. Rutrum quisque non tellus orci. Felis donec et odio pellentesque
                                diam volutpat commodo sed egestas. Laoreet sit amet cursus sit amet dictum sit. Ullamcorper a lacus vestibulum sed arcu non odio euismod. Montes nascetur ridiculus mus
                                mauris vitae ultricies leo. Dignissim cras tincidunt lobortis feugiat vivamus at augue eget. Erat velit scelerisque in dictum non. Gravida rutrum quisque non tellus.
                                Nunc consequat interdum varius sit amet mattis vulputate enim nulla.</p>

                                <p>Et ligula ullamcorper malesuada proin libero. Scelerisque purus semper eget duis at. Volutpat diam
                                ut venenatis tellus in metus vulputate. Massa vitae tortor condimentum lacinia quis vel eros. Dictum at tempor commodo ullamcorper a lacus vestibulum sed. Aenean
                                euismod elementum nisi quis. Diam quam nulla porttitor massa id neque aliquam. Viverra justo nec ultrices dui sapien. Facilisis sed odio morbi quis commodo. Commodo
                                quis imperdiet massa tincidunt nunc pulvinar. Arcu non sodales neque sodales ut etiam. Tristique risus nec feugiat in fermentum posuere urna. Bibendum at varius vel
                                pharetra vel turpis nunc. Orci ac auctor augue mauris. Luctus accumsan tortor posuere ac ut. Consequat semper viverra nam libero justo laoreet sit amet cursus. Integer
                                eget aliquet nibh praesent tristique magna sit. Sit amet porttitor eget dolor morbi. Sit amet est placerat in egestas. Enim blandit volutpat maecenas volutpat blandit
                                aliquam etiam erat.</p>
                            </div>
                            <div class="col-6" style="text-align: justify">
                                <p>Nec feugiat in fermentum posuere urna nec tincidunt praesent. Faucibus in ornare quam viverra. Turpis massa tincidunt dui ut ornare. Id eu nisl nunc mi ipsum. Ut enim
                                blandit volutpat maecenas volutpat blandit. Pellentesque dignissim enim sit amet venenatis urna cursus. Nunc sed augue lacus viverra vitae. Massa enim nec dui nunc
                                mattis. Aliquam ut porttitor leo a diam sollicitudin tempor id. Integer malesuada nunc vel risus. Nunc sed velit dignissim sodales ut eu sem integer vitae. In nibh
                                mauris cursus mattis molestie a iaculis at erat. Et magnis dis parturient montes nascetur ridiculus mus mauris vitae. Velit sed ullamcorper morbi tincidunt ornare.
                                Posuere lorem ipsum dolor sit amet. Eget mi proin sed libero enim sed faucibus turpis in. Arcu odio ut sem nulla pharetra.</p>

                                <p>Tempor commodo ullamcorper a lacus. Sociis natoque penatibus et magnis dis parturient montes. Ipsum dolor sit amet consectetur adipiscing elit duis. Non pulvinar neque laoreet suspendisse interdum consectetur.
                                Eget mauris pharetra et ultrices neque. Purus faucibus ornare suspendisse sed nisi lacus. Scelerisque in dictum non consectetur a erat nam at lectus. In fermentum
                                posuere urna nec tincidunt praesent semper feugiat. In nibh mauris cursus mattis molestie a iaculis. Porta non pulvinar neque laoreet suspendisse interdum consectetur. Aliquet nec ullamcorper sit amet risus nullam eget felis. Aliquet eget sit amet
                                tellus cras adipiscing enim eu turpis. Risus in hendrerit gravida rutrum quisque non tellus orci. Amet venenatis urna cursus eget nunc scelerisque. Elementum integer
                                enim neque volutpat ac tincidunt vitae semper quis. Est velit egestas dui id ornare arcu. Elementum integer enim neque volutpat ac. Interdum velit laoreet id donec
                                ultrices tincidunt arcu non.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}