{% extends "base/body_base.html" %}
{% block page_content %}

<div class="bg-bl">
    <div class="availablepools-wrap">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card bg-yellow-alt shadow-sm">
                        <div class="card-header d-flex flex-row align-items-center flex-0">
                            <div class="d-block">
                                <div class="h5 font-weight-normal mb-2">Investments</div>
                                <h2 class="h3">${{ total_investment }}</h2>
                            </div>
                            <div class="d-flex ml-auto">
                                <a href="#" class="btn btn-secondary text-dark btn-sm mr-2"></a>
                                <a href="#" class="btn btn-primary btn-sm mr-3"></a>
                            </div>
                        </div>
                        <div class="card-body p-2">
                            <div class="ct-chart-sales-value ct-double-octave ct-series-g" id="investments-chart">

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
            <div class="col-12 col-sm-12 col-xl-6 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <td>TYPE</td>
                                <td>PRICE</td>
                                <td>AMOUNT</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for a in datax %}
                                <tr>
                                <td>{{ a.type }}</td>
                                <td>{{ a.price }}</td>
                                <td>{{ a.amount }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-xl-6 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-body">
                        {% include 'components/admin_chart.html' %}
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

{% endblock %}