{% extends "base/body_base.html" %}
{% block page_content %}



<div class="bot-wrap" style="background-color: #F2F7FD;">
    <div class="container">
        <div class="bot-top-bar">
            <div class="row flex-md-row-reverse">
            {% include 'components/alert_box.html' %}
                <div class="col-md-3 col-lg-5">
                    <div class="d-flex justify-content-md-end justify-content-center bot-top-btn">
                        {% if not is_user_invested %}
                        <button type="button" class="btn btn-primary btn-modified" onclick="startTheBot()">Start</button>
                        {% else %}
                        <button type="button" class="btn btn-primary btn-modified" disabled style="margin-right: 1rem;">Bot is running</button>
                        <button type="button" class="btn btn-reddit btn-modified ml-3" data-bs-toggle="modal" data-bs-target="#stopModal">Stop Bot</button>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-9 col-lg-7">
                    <ul class="nav nav-pills flex-column flex-md-row align-items-center" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="botSetup-tab" data-bs-toggle="pill" data-bs-target="#botSetup" type="button" role="tab" aria-controls="botSetup" aria-selected="true">BOT SETUP</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="botRewards-tab" data-bs-toggle="pill" data-bs-target="#botRewards" type="button" role="tab" aria-controls="botRewards" aria-selected="false">BOT REWARDS</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="botDashboard-tab" data-bs-toggle="pill" data-bs-target="#botDashboard" type="button" role="tab" aria-controls="botDashboard" aria-selected="false">BOT DASHBOARD</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bot-main-section">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade active show" id="botSetup" role="tabpanel" aria-labelledby="botSetup-tab">
                    <div class="settings-info-outer">
                        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 justify-content-center">
                            <div class="col">
                                <div class="settings-info-box">Exchange:<strong>{{ pool.exchange }}</strong></div>
                            </div>
                            <div class="col">
                                <div class="settings-info-box">{{ pool.pair.buy_side.symbol }} / {{ pool.pair.sell_side.symbol }}</div>
                            </div>
                            <div class="col">
                                <div class="settings-info-box">Week {{ pool.week }}</div>
                            </div>
                            <div class="col">
                                <div class="settings-info-box">Total Weekly Rewards<strong>{{ pool.weekly_reward }} EUR</strong></div>
                            </div>
                            <div class="col col-12">
                                <div class="settings-info-box"><span>Yield (Weekly/<a href="#">Hourly</a>)</span><strong><small>{{ pool.weekly_yield }}%</small>/{{ pool.hourly_yield }}%</strong></div>
                            </div>
                        </div>
                    </div>
                    <div class="setup-bot">
                        <a href="#">How to set up your bot?</a>
                    </div>
                    <div class="bot-form-outer">
                        <div class="row">
                            <div class="col-md-7 col-lg-8">
                                <div class="bot-form-left">
                                    <form method="POST" class="bot-form" id="theBotForm">
                                        {% csrf_token %}
                                        <input class="d-none" name="reward_id" value="{{ pool.id }}">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-field">
                                                    <label for="" class="form-label">Base Balance</label>
                                                    <div class="input-group">
                                                        <span class="input-group-text" id="basic-addon1">{{ balance.base.symbol }}</span>
                                                        <input type="text" class="form-control" id="" value="{{ balance.base_amount_rounded }}" aria-describedby="basic-addon1" disabled>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-field">
                                                    <label for="" class="form-label">Quote Balance</label>
                                                    <div class="input-group">
                                                        <span class="input-group-text" id="basic-addon2">{{ balance.quote.symbol }}</span>
                                                        <input type="text" class="form-control" id="" value="{{ balance.quote_amount_rounded }}" aria-describedby="basic-addon2" disabled>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-field">
                                                    <label for="" class="form-label">Minimum Spread</label>
                                                    <div class="input-group">
                                                        <span class="input-group-text" id="basic-addon3">%</span>
                                                        <input type="text" class="form-control" id="" value="0.50" aria-describedby="basic-addon3" name="minimum_spread" {% if is_user_invested %}disabled{% endif %}>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-field">
                                                    <label for="" class="form-label">% of Quote Balance</label>
                                                    <div class="input-group">
                                                        <span class="input-group-text" id="basic-addon4">%</span>
                                                        <input type="text" class="form-control" id="" value="1.50" aria-describedby="basic-addon4" name="maximum_spread" {% if is_user_invested %}disabled{% endif %}>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-field">
                                                    <label for="" class="form-label">Current Minimum Spread</label>
                                                    <div class="input-group">
                                                        <span class="input-group-text" id="basic-addon5">%</span>
                                                        <input type="text" class="form-control" id="" value="0.6" aria-describedby="basic-addon5" {% if is_user_invested %}disabled{% endif %}>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-field">
                                                    <label for="" class="form-label">Current Share of the Pool</label>
                                                    <div class="input-group">
                                                        <span class="input-group-text" id="basic-addon6">%</span>
                                                        <input type="text" class="form-control" id="" value="{{ current_share_of_pool }}" aria-describedby="basic-addon6" disabled>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-field">
                                                    <label for="" class="form-label">Number of Orders</label>
                                                    <div class="input-group">
                                                        <span class="input-group-text" id="basic-addon7">Order for each side</span>
                                                        <input type="text" class="form-control" id="" value="1" aria-describedby="basic-addon7" {% if is_user_invested %}disabled{% endif %}>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-field">
                                                    <label for="" class="form-label">Allocation Ratio</label>
                                                    <div class="input-group">
                                                        <span class="input-group-text" id="basic-addon8">%</span>
                                                        <input type="text" class="form-control" id="" value="50" aria-describedby="basic-addon8" {% if is_user_invested %}disabled{% endif %}>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-field">
                                                    <label for="" class="form-label">Renew Time</label>
                                                    <div class="input-group">
                                                        <span class="input-group-text" id="basic-addon9">Seconds</span>
                                                        <input type="text" class="form-control" id="" value="30" aria-describedby="basic-addon9" {% if is_user_invested %}disabled{% endif %}>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-field">
                                                    <label for="" class="form-label">Safety net</label>
                                                    <label class="switch" for="checkbox">
                                                    <input type="checkbox" id="checkbox">
                                                    <div class="slider round"></div>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="settings-info-bar bot-info-bar inline">
                                            <div class="settings-info-box">Your referral gains address<strong></strong>
                                                <div class="input-group mb-3">
                                                    <input type="text" class="form-control" id="walletAddressInput" {% if wallet_address %}value="{{ wallet_address }}"{% endif %} placeholder="Please enter your {{ pool.currency.symbol }} wallet address" aria-describedby="basic-addon9" name="wallet_address" {% if wallet_address %}disabled{% endif %} required>
                                                    <button type="button" class="btn btn-outline-primary" onclick="inputDisableToggle('walletAddressInput')">Edit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-5 col-lg-4">
                                <div class="bot-form-right">
                                    <h4>Campaign Details</h4>
                                    <p>{% if reward.campaign_detail %}{{ reward.campaign_detail }}{% else %}Symbol is the next-generation Proof-of-Stake+ (PoS+) blockchain from NEM, boasting enterprise-grade programmability and security. Symbol from NEM brings cutting-edge technical features which can be leveraged by innovative projects building the new economy.{% endif %}</p>
                                    <h4>Rules</h4>
                                    <p>{% if reward.rules %}{{ reward.rules }}{% else %}Orders must be created between 0.5% and 2% of the orderbook spread Closed orders outside 2% won't be considered for the reward{% endif %}</p>
                                    <h4>Rewards</h4>
                                    <p>{% if reward.reward_detail %}{{ reward.reward_detail }}{% else %}By adding liquidity you'll earn 1,000 USDC weekly to be distrubeted by your share of the BeWater Liquidity Pool.{% endif %}</p>
                                    <h4>Payouts</h4>
                                    <p>Payouts will be provided MONTHLY on the address that you indicate</p>
                                    <h4>Weekly payments</h4>
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th><b><i>Week </i><em></em></b></th>
                                                <th><b><i>Amount(EUR) </i><em></em></b></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for week_amount in reward.weekly_amount.all %}
                                                <tr>
                                                    <td><b>Week {{ forloop.counter }}</b></td>
                                                    <td><b>{{ week_amount.amount }}</b></td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="botRewards" role="tabpanel" aria-labelledby="botRewards-tab">
                    <div class="settings-info-outer bot-info-outer">
                        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 justify-content-center">
                            <div class="col">
                                <div class="settings-info-box">Exchange:<strong>{{ pool.exchange }}</strong></div>
                            </div>
                            <div class="col">
                                <div class="settings-info-box">{{ pool.pair.buy_side.symbol }} / {{ pool.pair.sell_side.symbol }}</div>
                            </div>
                            <div class="col">
                                <div class="settings-info-box">Week {{ pool.week }}</div>
                            </div>
                            <div class="col">
                                <div class="settings-info-box">Total Weekly Rewards<strong>{{ pool.weekly_reward }} EUR</strong></div>
                            </div>
                            <div class="col col-12">
                                <div class="settings-info-box"><span>Yield (Weekly/<a href="#">Hourly</a>)</span><strong><small>{{ pool.weekly_yield }}%</small>/{{ pool.hourly_yield }}%</strong></div>
                            </div>
                        </div>
                    </div>
                    <div class="bot-table-section availablepools-main">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th><b><i>Pair </i><em></em></b></th>
                                    <th><b><i>Days running </i><em></em></b></th>
                                    <th><b><i>Week </i><em></em></b></th>
                                    <th><b><i>Share </i><em></em></b></th>
                                    <th><b><i>Total Rewards</i><em></em></b></th>
                                    <th><b><i>Your Rewards </i><em></em></b></th>
                                    <th><b><i>Status Campaign</i><em></em></b></th>
                                    <th><b><i>Status Payment </i><em></em></b></th>
                                    <th><b><i>Payment address</i><em></em></b></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for s in sharings %}
                                <tr>
                                    <td><b>Pair <em></em></b><img class="crypto_icon" src="/static/assets/img/cryptoicons/{{ s.reward.pair.buy_side.icon }}.png" alt="icon"><img class="crypto_icon" src="/static/assets/img/cryptoicons/{{ s.reward.pair.sell_side.icon }}.png" alt="icon"><span>{{ s.reward.pair.buy_side.symbol }}/{{ s.reward.pair.sell_side.symbol }}</span></td>
                                    <td><b><i>Days running </i><em></em></b>{{ s.duration }}</td>
                                    <td><b><i>Week </i><em></em></b>Week {{ s.week_number }}</td>
                                    <td><b><i>Share </i><em></em></b>{{ s.ratio }}%</td>
                                    <td><b><i>Total Rewards</i><em></em></b>{{ s.reward.amount }} EUR</td>
                                    <td><b><i>Your Rewards </i><em></em></b>{{ s.amount }} EUR</td>
                                    <td><b><i>Status Campaign</i><em></em></b><span class="btn btn-sm btn-{{ s.reward.status.style }}" href="#">{{ s.reward.status.name }}</span></td>
                                    <td><b><i>Status Payment </i><em></em></b><span class="btn btn-sm btn-{{ s.transaction.style }}" href="#">{{ s.transaction.name }}</span></td>
                                    <td><b><i>Payment address </i><em></em></b>{{ s.wallet_address }}.. <img src="/static/assets/img/fluent_copy-24-regular.svg" alt="copy"></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="settings-info-bar bot-info-bar">
                        <div class="settings-info-box">Your refferal gains address<strong>302dlxkd02894lsldsldls</strong><button type="button" class="btn btn-primary btn-modified" data-bs-toggle="modal" data-bs-target="#referralModal">Edit</button></div>
                    </div>
                </div>
                <div class="tab-pane fade" id="botDashboard" role="tabpanel" aria-labelledby="botDashboard-tab">
                    <div class="settings-info-outer bot-info-outer">
                        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 justify-content-center">
                            <div class="col">
                                <div class="settings-info-box">Exchange:<strong>{{ pool.exchange }}</strong></div>
                            </div>
                            <div class="col">
                                <div class="settings-info-box">{{ pool.pair.buy_side.symbol }} / {{ pool.pair.sell_side.symbol }}</div>
                            </div>
                            <div class="col">
                                <div class="settings-info-box">Week {{ pool.week }}</div>
                            </div>
                            <div class="col">
                                <div class="settings-info-box">Total Weekly Rewards<strong>{{ pool.weekly_reward }} EUR</strong></div>
                            </div>
                            <div class="col col-12">
                                <div class="settings-info-box"><span>Yield (Weekly/<a href="#">Hourly</a>)</span><strong><small>{{ pool.weekly_yield }}%</small>/{{ pool.hourly_yield }}%</strong></div>
                            </div>
                        </div>
                    </div>
                    <div class="bot-table-section availablepools-main">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Timestamp <em></em></th>
                                    <th>Pair <em></em></th>
                                    <th>Type <em></em></th>
                                    <th>Amount <em></em></th>
                                    <th>Price <em></em></th>
                                    <th>Status <em></em></th>
                                    <th>Action <em></em></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for o in orders %}
                                <tr>
                                    <td><b>Timestamp<em></em></b>{{ o.created_at }}</td>
                                    <td><b>Pair <em></em></b><img class="crypto_icon" src="/static/assets/img/cryptoicons/{{ o.reward.pair.buy_side.icon }}.png" alt="icon"><img class="crypto_icon" src="/static/assets/img/cryptoicons/{{ o.reward.pair.sell_side.icon }}.png" alt="icon"><span>{{ o.reward.pair.buy_side.symbol }}/{{ o.reward.pair.sell_side.symbol }}</span></td>
                                    <td><b>Type <em></em></b><span class="btn btn-sm btn-{{ o.side_style }}" href="#">{{ o.side }}</span></td>
                                    <td><b>Amount <em></em></b>{{ o.amount_rounded }}</td>
                                    <td><b>Price <em></em></b>{{ o.price_rounded }}</td>
                                    <td><b>Status <em></em></b><span class="btn btn-sm btn-{{ o.status.style }}" id="order-status-{{ o.eid }}" href="#">{{ o.status.name }}</span></td>
                                    <td><b>Action <em></em></b>{% if o.status.name == 'ACTIVE' %}<a class="btn btn-outline-primary" onclick="cancelOrder('{% url 'cancel_order' %}?order_id={{ o.id }}&order_eid={{ o.eid }}&user_id={{ user.id }}', '{{ o.eid }}')" id="cancel-button-{{ o.eid }}">Cancel</a>{% endif %}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="bot-note-sec">
                        <div class="row">
                            <div class="col-md-8">
                                <p>* We only keep your last 30 days trade information. Please notice that you can always go to your exchange and check there the full history</p>
                            </div>
                        </div>
                    </div>
                    <nav aria-label="..." style="display: none;">
                        <ul class="pagination justify-content-center">
                            <li class="page-item active" aria-current="page">
                                <span class="page-link">1</span>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="stopModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Stop the Bot</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure stop bot? If you stop the bot, your rewards of current week will be removed!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a href="{% url 'bot' %}?pool_id={{ pool.id }}&cancel=1"><button type="button" class="btn btn-primary">Proceed</button></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}