{% extends "base/body_base.html" %}
{% block page_content %}

{% include 'components/alert_box.html' %}

<div class="banner-wrap">
    <div class="container-lg">
        <div class="banner-main">
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-8">
                    <div class="banner-left">
                        <h1>Be water my friend</h1>
                        <p>Liquid miners bots never get tired and never sleep. They won’t ask to lock up or lose control of your founds. Your money is yours! </p>
                    </div>
                </div>
                <div class="d-none d-sm-none d-md-block col-md-6 col-lg-4">
                    <div class="banner-right">
                        <img src="/static/assets/img/banner-img.png" alt="PIC">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="banner-info-outer">
            <div class="row">
                <div class="col-6 col-lg-3">
                    <div class="banner-info-box">total liquidity<strong>{{ total_liquidity }}</strong></div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="banner-info-box">number of bots<strong>{{ number_of_bots }}</strong></div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="banner-info-box">24h volume <strong>{{ day_volume }}</strong></div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="banner-info-box"><em>avg yield (weelky<span>/hourly</span>)</em><strong>{{ weekly_yield }}%/{{ hourly_yield }}%</strong></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner end -->
<!-- Main start -->
<div class="availablepools-wrap">
    <div class="container">
        <div class="availablepools-main">
            <h3>Available pools</h3>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Pair <em></em></th>
                        <th>Rewards <em></em></th>
                        <th>Close Date <em></em></th>
                        <th>Exchange <em></em></th>
                        <th>Number of bots <em></em></th>
                        <th>Total liquidity <em></em></th>
                        <th>Yield (monthly/hourly) <em></em></th>
                        <th>Action <em></em></th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in pools %}
                        <tr>
                            <td><b>Pair <em></em></b><img class="crypto_icon" src="/static/assets/img/cryptoicons/{{ p.pair.buy_side.icon }}.png" alt="icon"><img class="crypto_icon" src="/static/assets/img/cryptoicons/{{ p.pair.sell_side.icon }}.png" alt="icon"><span>{{ p.pair.buy_side.symbol }}/{{ p.pair.sell_side.symbol }}</span></td>
                            <td><b>Rewards <em></em></b><span style="font-weight: 500;">{{ p.currency.symbol }}</span><span>{{ p.amount }}</span></td>
                            <td><b>Close Date <em></em></b>{{ p.close_date }}<small>{{ p.close_hour }} CET</small></td>
                            <td><b>Exchange <em></em></b>{{ p.exchange }}</td>
                            <td><b>Number of bots <em></em></b>{{ p.bots }}</td>
                            <td><b>Total liquidity <em></em></b>{{ p.liquidity }} €</td>
                            <td><b>Yield (monthly/hourly) <em></em></b>{{ p.monthly_yield }}% / {{ p.hourly_yield }}%</td>
                            <td><b>Action <em></em></b><a class="btn btn-outline-primary" href="{% url 'bot' %}?pool_id={{ p.id }}">Details</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="howitwork-wrap">
    <div class="container">
        <div class="howitwork-main">
            <h2>How it works</h2>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="howitwork-sec">
                        <div class="howitwork-fig">
                            <div class="howitwork-fig_img">
                                <img src="/static/assets/img/add-user-icon.svg" alt="ICON">
                            </div>
                            <div class="howitwork-fig_count">01</div>
                        </div>
                        <div class="howitwork-info">
                            <p>Sign up to <a href="https://liquidminers.com">liquidminers.com</a>. No KYC required!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="howitwork-sec">
                        <div class="howitwork-fig">
                            <div class="howitwork-fig_img">
                                <img src="/static/assets/img/hosting-icon.svg" alt="ICON">
                            </div>
                            <div class="howitwork-fig_count">02</div>
                        </div>
                        <div class="howitwork-info">
                            <p>Select your preferred pair. Connect to the host exchange.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="howitwork-sec">
                        <div class="howitwork-fig">
                            <div class="howitwork-fig_img">
                                <img src="/static/assets/img/rewards-icon.svg" alt="ICON">
                            </div>
                            <div class="howitwork-fig_count">03</div>
                        </div>
                        <div class="howitwork-info">
                            <p>Start getting rewards by providing liquidity through <a href="https://liquidminers.com">liquidminers.com</a> bots</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="howitwork-btn">
                <a class="btn btn-primary btn-modified" href="https://www.notion.so/liquidminers/Wiki-52282b379ffe4cc7ba59fcd529a95901" target="_blank">Wiki</a>
            </div>
        </div>
    </div>
</div>
<div class="contactus-wrap">
    <div class="container">
        <div class="contactus-main">
            <h2>Contact us</h2>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="contactus-sec">
                        <h4>I am a crypto exchange</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <a class="btn btn-primary btn-modified" href="{% url 'contact_us' %}">Contact us</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="contactus-sec">
                        <h4>I am a crypto exchange</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <a class="btn btn-primary btn-modified" href="{% url 'contact_us' %}">Contact us</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="contactus-sec">
                        <h4>I am a crypto exchange</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <a class="btn btn-primary btn-modified" href="{% url 'contact_us' %}">Contact us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}