<div class="accordion" id="accordionExample">
    <div class="accordion" id="accordionExample">
        {% for w in weeks %}
            <div class="card mb-0">
                <a data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
                    <div class="card-header bg-gray-400 border-2 border-black" id="heading{{ forloop.counter }}">
                        <h4 class="mb-0">
                            Week #{{ forloop.counter }}
                        </h4>
                    </div>
                </a>


                <div id="collapse{{ forloop.counter }}" class="collapse" aria-labelledby="heading{{ forloop.counter }}" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="d-flex align-items-center justify-content-between border-bottom pb-3">
                                    <div><div class="h6 mb-0 d-flex align-items-center">Start</div></div>
                                    <div><span class="d-flex align-items-center fw-bold">{{ w.start }}</span></div>
                                </div>
                                <div class="d-flex align-items-center justify-content-between border-bottom py-3">
                                    <div><div class="h6 mb-0 d-flex align-items-center">End</div></div>
                                    <div><span class="d-flex align-items-center fw-bold">{{ w.end }}</span></div>
                                </div>
                                <div class="d-flex align-items-center justify-content-between border-bottom py-3">
                                    <div><div class="h6 mb-0 d-flex align-items-center">Export Transaction</div></div>
                                    <div><a onclick="exportTransactions('transaction-table-{{ w.is }}', '{{ w.id }}')"><span class="btn btn-sm btn-primary">Export</span></a></div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-center justify-content-between border-bottom pb-3">
                                    <div><div class="h6 mb-0 d-flex align-items-center">Status</div></div>
                                    <div><span class="d-flex align-items-center fw-bold text-{{ w.status.style }}">{{ w.status.name }}</span> (#{{ w.id }})</div>
                                </div>
                                <div class="d-flex align-items-center justify-content-between border-bottom py-3">
                                    <div><div class="h6 mb-0 d-flex align-items-center">Update Status</div></div>
                                    <div><div class="d-flex align-items-center fw-bold">
                                        <select class="form-select form-select-sm" id="transaction-update-selector" onchange="updateTransactionStatus({{ w.id }}, {{ w.reward.id }})">
                                            <option value="0" selected>Select</option>
                                            <option value="8">NOT PROCESSED</option>
                                            <option value="7">PROCESSING</option>
                                            <option value="6">PROCESSED</option>
                                        </select>
                                    </div></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <td>#</td>
                                            <td>E-Mail</td>
                                            <td>Amount</td>
                                            <td>Pair</td>
                                            <td>Exchange</td>
                                            <td>Wallet Address</td>
                                        </tr>
                                    </thead>
                                    <tbody id="transaction-table-{{ w.is }}">
                                        {% for t in w.transactions %}
                                            <tr data-t-id="{{ t.id }}" data-t-email="{{ t.investment.user.email }}" data-t-currency="{{ t.reward.currency.symbol }}" data-t-amount="{{ t.amount }}"
                                                data-t-pair="{{ t.reward.pair.name }}" data-t-exchange="Monetum" data-t-wallet="{{ t.investment.wallet_address }}">
                                                <td>{{ t.id }}</td>
                                                <td>{{ t.investment.user.email }}</td>
                                                <td><img class="me-2 mr-0 image image-small rounded-circle" alt="{{ t.reward.currency.icon }}" src="/static/assets/img/cryptoicons/{{ t.reward.currency.icon }}.png"> {{ t.amount }}</td>
                                                <td>{{ t.reward.pair.name }}</td>
                                                <td>Monetum</td>
                                                <td>{{ t.investment.wallet_address }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>