{% if error is not None %}
    <div class="alert alert-danger" role="alert">{{ error }}</div>
{% elif success is not None %}
    <div class="alert alert-success" role="alert">{{ success }}</div>
{% endif %}